<head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.3/codemirror.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.3/codemirror.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.3/mode/clike/clike.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.3/theme/monokai.min.css">
        <title>something</title>
        <style>
            .CodeMirror {
                line-height: 28px;
                font-family: Lucida Console;
                overflow: auto;
                height: 100%;
            }
        </style>
    </head>
    <body>
        <div id="editor"></div>
        <script>
            var editor = CodeMirror(document.getElementById("editor"), {
      mode: "text/x-csharp",
      lineNumbers: true,
      indentUnit: 4,
      tabSize: 4,
      theme: "monokai",
      lineWrapping: true,
      value: `// Welcome to something!\n// something allows you to test out C# and MSIL online.\n\n// x is supported!\n// You can run x and x for fully free.\n\// You can do so by going into the gear icon on the right.\n\n// something is still in beta!\n// So expect some classes, methods, or properties not yet to be implemented.
      \n// Note: something is not any associated with Microsoft.\n\n// Happy coding! :)\n\nusing System;\n\nnamespace Solution1\n{\n    internal sealed class Program\n    {\n        internal static void Main(string[] args)\n        {\n            Console.WriteLine("Demo test app!");\n            Environment.Exit(0);\n        }\n    }\n}`
    });
    editor.setSize("50%", "100%");
        </script>
    </body>
