
<div class="flex justify-between">
    <div class="flex items-center">
        <button>
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-left-square"><rect width="18" height="18" x="3" y="3" rx="2"/><path d="m14 16-4-4 4-4"/></svg>
        </button>
        <button>
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-menu-square"><rect width="18" height="18" x="3" y="3" rx="2"/><path d="M7 8h10"/><path d="M7 12h10"/><path d="M7 16h10"/></svg>
        </button>
        <div>C# getting started</div>
    </div>
    <div class="w-96 flex items-center">
        <button>
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-left-circle"><circle cx="12" cy="12" r="10"/><path d="m14 16-4-4 4-4"/></svg>
        </button>
        <a href="#" class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700">
        </a>
        <a href="#" class="w-full bg-cyan-300 h-2.5 rounded-full">
        </a>
        <a href="#" class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700">
        </a>
        <a href="#" class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700">
        </a>
        <a href="#" class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700">
        </a>
        <a href="#" class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700">
        </a>
        <a href="#" class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700">
        </a>
        <button>
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-right-circle"><circle cx="12" cy="12" r="10"/><path d="m10 8 4 4-4 4"/></svg>
        </button>
    </div>
</div>
<div class="flex">
    <div class="max-w-md">
        I have a class ClassRoom description and Student description. Now I want to get total number of students in each class room, return it as a List of result.
    </div>
    <div>
        <div>
            <button>
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-minus"><path d="M5 12h14"/></svg>
            </button>
        </div>
        <div>
            <button>
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-plus"><path d="M5 12h14"/><path d="M12 5v14"/></svg> 
            </button>
        </div>
        <div>
            <button>
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-triangle"><path d="M13.73 4a2 2 0 0 0-3.46 0l-8 14A2 2 0 0 0 4 21h16a2 2 0 0 0 1.73-3Z"/></svg> 
            </button>
        </div>
        <button class="max-w-xs border-2 border-indigo-600 p-1 rounded-lg">
            <div class="flex items-center bg-cyan-300 rounded-lg">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-x"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>            
                </div>
                <div class="">
                    asdjkxcvzjkzhasjdhasjdk zxczxcasdasdasdzx zcxzcasdasdasd
                </div>
            </div>
        </button>
        <div>
            <button>
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-square"><rect width="18" height="18" x="3" y="3" rx="2"/></svg> 
            </button>
        </div>
        <div>
            <button>
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle"><circle cx="12" cy="12" r="10"/></svg>            
            </button>
        </div>
        
    </div>
</div>

