@{
    ViewBag.Text = new string[]{"Learn","Practice","Interview"};
}
<div class="h-screen grid grid-cols-2 gap-8">
    <div class="m-10">
        <div class="text-7xl mr-20">
                @foreach (string text in ViewBag.Text)
                {
                     <div class="my-8"><strong>@text</strong></div>
                }


               @*  @foreach (string text in ViewBag.Text)
                {
                    <span class="my-8">@text</span>
                } *@
        </div>
        <div class="m-16">
            <div>Great developer</div>
            <div>Set foot in the challenged adventure lying ahead </div>
            
            <button type="button" class="w-full text-gray-900 bg-gradient-to-r from-teal-200 to-lime-200 hover:bg-gradient-to-l hover:from-teal-200 hover:to-lime-200 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-teal-700 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">
                Let's Start
                </button>
            
            
        </div>
    </div>
    <div class="flex items-center w-full bg-gradient-to-b from-sky-600 via-cyan-300 to-lime-100">
        <div class="relative -left-20 h-max w-full shadow-xl rounded-lg bg-slate-200 mt-9/20">
            <img src="~/img/landing_2.jpg"/>
        </div>
    </div>
</div>


<script src="~/js/form.js"></script>