@model IEnumerable<string>
@{
}


<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">


<article class="prose prose-2xl">
  <textarea id="demo"></textarea>
</article>
<button id="apply">apply</button>
<img src="~/shape.jpg"/>

<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<script src="~/js/mde.js"></script>